<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfuentes.josegerardo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/titulo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".maestro_detalle_productos.contenido_elemento"></activity>
        <activity android:name=".maestro_detalle_productos.lista_productos" />
        <activity android:name=".agregar_cantidades" />
        <activity
            android:name=".busquedas"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".presentaciones"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".info_producto" />
        <activity
            android:name=".loggin"
            android:theme="@style/tema_login" />
        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>